@page {
 size: 8.27in 11.68in;
  margin-left: 0.13in;
  margin-right: 0.14in;
  margin-top: 0.11in; 
  margin-bottom: 0.2in 
}

.marge{
	margin-left: 20px;
}

P {
 margin-bottom: 0.08in;
  direction: ltr;
  widows: 2;
  orphans: 2 
}

P.western {
 font-family: "Calibri light", serif 
}

h1 {
 margin-bottom: 0in;
  direction: ltr;
  color: #365f91;
  page-break-inside: avoid;
  widows: 2;
  orphans: 2 
}

h1.western {
 font-family: "Calibri light", serif; 
 font-size: 16pt; 
 font-weight: normal 
}

h1.cjk {
 font-size: 16pt; 
 font-weight: normal
}

h1.ctl {
 font-family: ; 
 font-size: 16pt; 
 font-weight: normal
}

h2 {
 margin-top: 0.03in; 
 margin-bottom: 0in; 
 direction: ltr; 
 color: #365f91; 
 page-break-inside: avoid; 
 widows: 2;
  orphans: 2
}

h2.western {
 font-family: "Calibri light", serif;
  font-size: 13pt; 
  font-weight: normal
}

h2.cjk {
 font-family: "Arial"; 
 font-size: 13pt; 
 font-weight: normal 
}

h2.ctl {
 font-family: ;
 font-size: 13pt;
  font-weight: normal
}

h1.contents-heading-western {
 font-family: "Calibri light", serif; 
 font-size: 16pt; 
 font-weight: normal;
  line-height: 107% 
}

h1.contents-heading-cjk {
 font-size: 16pt;
  font-weight: normal;
   line-height: 107%
}

h1.contents-heading-ctl {
 font-family: ; 
 font-size: 16pt; 
 font-weight: normal;
  line-height: 107% 
}

td{
	width: 377;
	height: 71;
	color: #e5dfec;
	border: 1px solid #b2a1c7;
	padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in
}
